.product-list-parent {
  .bikelist_parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
  }

  .loader {
    text-align: center;
    padding: 20px;
    margin: auto;

    .spinner {
      margin: 0 auto 10px;
      width: 32px;
      height: 32px;
      border: 4px solid #ccc;
      border-top: 4px solid #3498db;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
    }

    p {
      color: #555;
      font-size: 14px;
    }
  }

  .end-message {
    margin: auto;
    text-align: center;
    padding: 20px;
    color: #777;
    font-size: 14px;
  }

  .sort_filter_parent {
    margin-bottom: 20px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
  }

  .sort_icon_parent {
    margin-right: 10px;
  }

  .filter_icon_parent {
    display: flex;
    align-items: center;
    width: fit-content;
    column-gap: 5px;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    background-color: #f5f5f5;
    cursor: pointer;

    svg {
      font-size: 20px;
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
