@use "../../styles/colors";

.scroll-container {
  width: 100%;
  overflow: hidden;
  background-color: colors.$white;
  padding: 20px 0;

  .scroll-track {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
  }

  .brand-card {
    width: 160px;
    margin-right: 20px;
    text-align: center;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: colors.$super-light-gray;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    :hover {
      cursor: pointer;
    }
  }

  .brand-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  .brand-name {
    font-size: 14px;
    font-weight: 500;
    color: colors.$text-dark;
  }

  .brand-link {
    text-decoration: none !important;
  }
}
