$white: #fff;
$black: #000;

.accordion-parent {
  margin-bottom: 8px;
  border-radius: 8px !important;

  .MuiAccordionDetails-root {
    background-color: $white;
    border-top: 1px solid #eee;
    padding: 16px;
  }
}

.MuiAccordion-root::before {
  background-color: unset !important;
}
