.navbar-menu {
  padding-bottom: 0px !important;
  padding-top: 0px !important;

  .offcanvasNavbar {
    .navbar-nav {
      .menu-container {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

.sub-menu-desktop {
  padding: 10px 0;
  width: 100vw;
  background: #fff;
  border: 1px solid #dde5eb;
  box-shadow: 0 24px 48px hsla(221, 9%, 54%, 0.08);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 55px;
  left: 0;
  transition: all 0.1s ease-in-out 0s;
  z-index: 99;
  height: 400px;

  .sub-menu-desktop-left .sub-menu-ul-left {
    list-style-type: none;
    padding: 15px 0px 15px 15px;
    background-color: rgba(239, 239, 240);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    li:hover {
      cursor: pointer;
      background-color: white !important;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      // padding-right: 0px;
    }
  }

  .sub-menu-desktop-right {
    padding-left: 10px;
    padding-top: 10px;

    .sub-menu-ul-right {
      padding-left: 10px !important;
      padding-top: 0px !important;

      li {
        list-style-type: none;
        padding-top: 5px;
      }
    }

    .sub-menu-ul-right.append_as_image {
      display: flex;
      flex-wrap: wrap;
      row-gap: 15px;
      column-gap: 15px;
    }
  }
}
