.benefits-container {
  text-align: center;
  padding: 20px;
  background-color: #f3e3e6;
  border-radius: 16px;

  .benefit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    place-self: center;
    max-width: 320px;

    .benefit-image {
      width: 100%;
      height: auto;
      max-height: 160px;
      object-fit: contain;
      border-radius: 12px;
      margin-bottom: 16px;
    }

    .benefit-title {
      font-weight: 600;
      color: #330066;
      margin-bottom: 8px;
    }

    .benefit-description {
      color: #444;
      font-size: 14px;
    }
  }

  a {
    text-decoration: unset;
  }

  .action-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    .browse-btn {
      background-color: #e11d48;
      color: white;
      text-transform: none;
      border-radius: 8px;
      padding: 10px 24px;
      width: 200px;
      font-size: 16px;
      font-weight: 600;

      &:hover {
        background-color: #be123c;
      }
    }
  }

  .MuiTabs-list {
    background-color: white;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 5px 8px 5px 8px;
  }

  .buy_tab,
  .sell_tab {
    font-weight: 700;
    text-transform: capitalize;
  }

  .Mui-selected {
    color: white !important;
    background-color: #6300a3;
    border-radius: 5px;
  }

  .MuiTabs-indicator {
    background-color: unset !important;
  }
}
